*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
}
.hero{
    height: 100vh;
    width: 100%;
    background: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
}

.logo{
    color: #f2f4f8;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
}

nav ul li a{
    color: #d7e2e9;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    /* border: 1px solid #262728; */
    /* padding: 12px 25px; */
    /* border-radius: 30px; */
    /* background: #00bf9f; */
}

nav ul li a:hover{
    color: #00bf9f;
    transition: 0.3s;
}

header{
    width: 92%;
    margin: 0 auto;
    padding: 2px 0;
    position: absolute;
    top: 25px;
    left: 30px;
    right: 30px;
    border-radius: 40px;
    z-index: 2;
    background: #415a80
     /* box-shadow: 0 0 30px rgb(0 0 0 / 8%); */
}


.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.content{
    position: absolute;
    top: 75%;
    left: 46%;
    transform: translateY(-50%);
    /* overflow-y: scroll; */
}

.content h1{
    font-size: 100;
    color: #415a80;
    line-height: 10px;
    margin-bottom: 25px;
}

.content p{
    font-size: 14px;
    color: #415a80;
    line-height: 28px;
    margin-bottom: 30px;
}

.content ul li{
    list-style: inside;
    font-size: 14px;
    line-height: 28px;
    color: #415a80;
   
  
    
}

.content h2{
  border: 1px;
  border-style: solid;
  border-color: #415a80;
  padding: 10px ;
  border-radius: 30px;
  background: #a5d4dc;
  color: #415a80;
 }